.body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, var(--new-light-blue) 0%, #ffffff 100%);
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 10vh;
  /* flex: 1 0 4rem; */
  padding: 20px 20px 20px 4%;
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section {
  height: 80vh;
  /* flex: 10 0 6rem; */
  display: flex;
  justify-content: space-around;
}

.section > div {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section > div > div:last-child {
  width: 100%;
  overflow-y: scroll;
}

.playlistsHead {
  font-size: 1.5rem;
}

.featuredPlaylists {
  height: 90%;
}

.userPlaylists {
  height: 90%;
}

.listItem {
  margin: 10px 5px;
  background: var(--light-creem);
  border: 2px solid var(--mustard);
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.listItem > img {
  height: 5em;
  width: 5em;
  border-radius: 15px;
}

.listItem > div {
  font-size: 1.25rem;
  flex-grow: 1;
  text-align: center;
}

.controlButtons {
  height: 10vh;
  /* flex: 1 0 6rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.controlButtons button {
  background: var(--light-green);
  font-size: 1.5rem;
  padding: 5px 15px;
  border: none;
  transition: 0.3s ease-in-out;
}

.controlButtons button:hover {
  background: #43e0a2;
  letter-spacing: 2px;
}

.controlButtons button:active {
  background: #014e1b;
  border: 1px solid #05a73b;
}

.controlButtons button:visited {
  background: darkblue;
}
